.sentence {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 0.33%;
    background-color: white;
}

.sentence-wrapper {
    display: flex;
    width: 90%;
    background-color: peachpuff;
    gap: 10px;
}

.sentence-tile {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.sentence-tile-image {
    max-width: 75%;
    max-height: 75%;
    object-fit: cover;
}